.privacy-policy{
    width: 100%;
    .policy-content{
        width: 80%;
        min-height: 100vh;
        margin-left: 10%;
        padding: 80px 0;
        h2{
            margin: 0;
            padding: 10px 0;
            font-size: 20px;
        }
        P{
            padding: 0;
            margin: 0;
            font-size: 15px;
        }
    }
}